@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

#audio-container {
    position: sticky;
    left: 0;
    top: 0;
    margin-top: variables.$audioPosition;
    z-index: 100; /* Ensure it's always on top */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    height: variables.$audioHeight;
    background: none;
}

// SVG play button
#audio-button {
    position: sticky;
    // top: 20px;
    z-index: 9000; /* Ensure it is above the overlay */

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 5px auto;

    cursor: pointer;
    border-radius: 50%;
    background-color: variables.$backColorDark;
    opacity: 0.75;
    user-select: none;
    transition: opacity 0.5s ease;
}

#audio-button:hover {
    // background-color: darkslategray; /* Darker shade on hover */
    opacity: 1;
}

.icon {
    width: 30px;
    height: 30px;
    fill: white;
}

.hidden {
    display: none; /* Hide inactive icon */
}

// Scrollbar Container
#scrollbar-container {
    position: relative;
    top: -30px;
    height: 10px;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* Above most elements, but below the play button */
}

// Scrollbar Background
#scrollbar {
    position: absolute;
    top: 50%;
    left: 0;
    background: #ccc;
    opacity: 0.15;
    width: 100%;
    height: 10px;
    transform: translateY(-50%);
}

// Progress Bar
#progress-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0; // This will be dynamically updated
    height: 10px;
    background: variables.$backColorDark;
    opacity: 0.75;
    transform: translateY(-50%);
}

// Draggable Circle (Scroll Thumb)
#scroll-thumb {
    position: absolute;
    top: 50%;
    left: 10; // This will be dynamically updated
    width: 30px;
    height: 20px;
    background: transparent;
    transform: translateY(-50%);
    cursor: ew-resize; /* <-> cursor for dragging */
    pointer-events: auto; /* Ensure it's interactive */
}

/* Audio Visualization Overlay */
#audio-visualization {
    position: fixed; /* Fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    z-index: 5; /* Slightly below sticky elements like the play button */
    pointer-events: none; /* Ensure it doesn't block user interaction */
}
