@use './variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200..700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    max-width: 100vw;
    overflow-x: hidden;
}

#intro {
    margin-top: calc(-1 * variables.$audioHeight - variables.$audioPosition);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    background: linear-gradient(
        180deg,
        variables.$backColor 0%,
        variables.$backColorDark 100%
    );

    h1 {
        margin-top: 25vh;
        font-weight: 400;
        font-size: 3em;
        text-transform: uppercase;
        width: 60%;

        span.portrait {
            display: block;
            text-transform: none;
            font-size: 0.65em;
            padding-left: 20%;
            white-space: nowrap;
            font-weight: 200;
        }

        span {
            display: inline-block;
            font-size: 1.2em;
        }
    }

    @media (max-width: 684px) {
        h1 {
            font-size: 2.25em;
            width: 70%;
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 1.75em;
        }
    }
}

#horizontal-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 20;

    #scroll-container {
        display: flex;

        background: repeating-linear-gradient(
            transparent,
            transparent variables.$lineSpace,
            #f0f2f5 variables.$lineSpace,
            #f0f2f5 calc(variables.$lineSpace + 1px)
        );

        .content-item {
            height: 100vh;
            margin: 0 150px;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;

            color: slategray;

            h2 {
                span {
                    display: block;
                    margin-left: -50px;
                    font-size: 0.75em;
                    font-weight: 200;
                }
            }

            &.compositeur {
                img {
                    height: 50vh;
                }
            }

            &.NEM {
                img {
                    display: inline-block;
                    height: 4vh;
                    width: auto;
                    align-self: flex-start;
                    margin: 30px 0 20px 0;
                    object-fit:scale-down;
                }
            }

            &.images {
                img {
                    height: 50vh;
                    margin: 5px 50px 0 0;
                }
            }
        }
        .instruments {
            min-width: 25vw;
            // max-width: 75vw;
            position: relative; // To position pseudo-elements inside
            padding-left: 20vw;
            > span {
                display: flex;
                span {
                    display: block;
                    width: 50px;
                    height: calc(variables.$lineSpace + 1px);
                    font-size: 14px;
                    line-height: variables.$lineSpace;
                    font-weight: 200;
                }

                span.name {
                    display: inline-block;
                    padding-left: 150px;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}

#credits {
    font-weight: 200;
    font-size: 1.15em;
    

    > div {

        padding-top: 20vh;
        padding-left: 20vw;
        > div {
            padding: 20px 30px 0 0;

            &.r42 {
                margin-top: 40px;
            }

            > span {
                display: block;
                line-height: 1.75em;
                margin-bottom: 10px;
                font-size: 1.25em;
                font-weight: 400;

                a {
                    cursor: pointer;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
    color: #ffffff;
    background-color: variables.$backColorDark;
}

/* Fullscreen vertical sections */
.section {
    height: 100vh;
    position: relative; /* Needed for sticky */
}

.sticky {
    position: sticky;
    top: 0;
}

.horizontal {
    display: flex;
    width: max-content;
}
